.footer-main{
    display: flex;
    padding: 1%;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    /* position: absolute; */
    width: 98%;
    /* bottom: 0; */
    margin-top: auto;
}

.footer-main > *{
    display: flex;
    flex-direction: column;
}